CompileFlags:
  Add:
    - -IC:/Users/user/AppData/Local/Arduino15/packages/arduino/hardware/avr/1.8.7/cores/arduino
    - -IC:/Users/user/AppData/Local/Arduino15/packages/arduino/hardware/avr/1.8.7/variants/mega
    - -IC:/Users/user/AppData/Local/Arduino15/packages/arduino/tools/avr-gcc/7.3.0-atmel3.6.1-arduino7/avr/include
    - -IC:\Users\user\Documents\Arduino\libraries\FreeRTOS\src
    - --target=avr
    - -mmcu=atmega2560
    - -DF_CPU=16000000L
    - -DARDUINO=10607
    - -DARDUINO_AVR_MEGA2560
